{% for post in incoming %}

<div style="display: flex; justify-content: center;">
    <div style="width: 600px;">
      <div class="card" onclick='location.href="planet_post/{{post.id}}";' style="cursor: pointer;">
        <div class="card-image">
          <img src="{{post.planet_img.url}}">
          <span class="card-title">{{post.title}}</span>
        </div>
        <div class="card-content">
          <p>{{post.post}}</p>
        </div>
        <div class="card-action">
          <a href="/profile/{{post.author.id}}/">{{post.author}}</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
