<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GalaxyGram</title>
  </head>
  <body>
    {% if user.is_authenticated %} {% else %}
    <a href="/login/">Log in</a>
    
    {% endif %}
    <hr />
    <a href="/">Home</a>
    <br />
    <a href="/logout/">Log out</a>
    <br />
    <a href="/planet/">Planets</a>
    <br />
    <a href="planet_post/post_list/">pics</a>
    <br />
    <a href="/addpost/">Post Image</a>

  </body>
</html>
