<!-- <nav class="navbar" style="display: flex; justify-content: space-between; align-items: center; background-color: white">
  

  <div style="padding-bottom: 30px;">
    <h2 style="color: black;">GalaxyGram</h2>
  </div>
  
  <div >
    <button><a href="/"><span style="color: black;">Home</span></a></button>
  
    <button>
      <a href="/planet/"><span style="color: black;">Planets</span></a>
    </button>
    <button>
      <a href="planet_post/post_list/"><span style="color: black;">Pics</span></a>
    </button>
    <button>
      <a href="/addpost/"><span style="color: black;">Post Image</span></a>
    </button>
    <button>
      <a href="/logout/"><span style="color: black;">Log out</span></a>
    </button>
  </div>
  
</nav> -->

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper" style="background-color: white;">
      <a href="/" class="brand-logo"  style="color: black;">GalaxyGram</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/" style="color: black;">Home</a></li>
        <li><a href="/planet/" style="color: black;">Planets</a></li>
        <li><a href="/logout"  style="color: black;">Log out</a></li>
      </ul>
    </div>
  </nav>
</div>