{% extends 'base.html' %} {% block content %}

<div class="detail-page">
  <h2>{{planet.name}}</h2>
  <p>English name: {{planet.englishName}}</p>
  <p>Mass: {{planet.mass}}</p>
  <p>Volume: {{planet.volume}}</p>
  <p>Density: {{planet.density}}</p>
  <p>Discovered By: {{planet.discoveredBy}}</p>
  <p>Discovery Date: {{planet.discoveryDate}}</p>
  <p>Axial Tilt: {{planet.axialTilt}}</p>
  <p>Average Temperature: {{planet.avgTemp}}</p>

  <h4>Like this? Post about it for everyone to see!</h4>

  <a href="/addpost/{{planet.id}}">Make a Post!</a>
  <hr />

  {% for foo in posts %}
  <h5>{{ foo.title }}</h5>
  <a href="/planet_post/{{ foo.id }}"
    ><img src="{{ foo.planet_img.url }}" height="50px" width="50px"
  /></a>
  <hr />
  {% endfor %}
</div>
{% endblock %}
