<a href="/">Home</a>

<h2>{{planet.name}}</h2>
<p>English name: {{planet.englishName}}</p>
<p>Mass: {{planet.mass}}</p>
<p>Volume: {{planet.volume}}</p>
<p>Density: {{planet.density}}</p>
<p>Discovered By: {{planet.discoveredBy}}</p>
<p>Discovery Date: {{planet.discoveryDate}}</p>
<p>Axial Tilt: {{planet.axialTilt}}</p>
<p>Average Temperature: {{planet.avgTemp}}</p>

<h3>Like this? Post about it for everyone to see!</h3>

<a href="/addpost/">Make a Post!</a>

{% for foo in posts %}
<li>
  {{ foo.body.name }}
  <img src="{{ foo.planet_img.url }}" height="50px" width="50px" />
</li>
{% endfor %}
