{{post.author}} {{post.post}} {{post.creation_time}}
<img
  src="{{post.planet_img.url}}"
  alt="{{post.author}}"
  width="300px"
  height="300px"
/>
<ul>
  <a href="add_comment/">add</a>
  {% for comment in comments %}
  <li>{{comment.author}} {{comment.comment}} {{comment.creation_time}}</li>
  {% endfor %}
</ul>

<!-- comment.comments

comment = models.CharField(max_length=140)
    author = models.ForeignKey(MyUser, on_delete=models.CASCADE)
    post = models.ForeignKey(Planet_Post, on_delete=models.CASCADE)
    creation_time = models.DateTimeField(default=timezone.now) -->

<!-- planet_img = models.ImageField(upload_to='images/')
author = models.ForeignKey(MyUser, on_delete=models.CASCADE)
post = models.CharField(max_length=140)
creation_time = models.DateTimeField(default=timezone.now)
up_vote = models.IntegerField(default=0)
down_vote = models.IntegerField(default=0)
total_votes = models.IntegerField(default=0) -->
