{% extends 'base.html' %} {% block content %}
<div class="detail-page">
  <a href="/planet/{{post.body.id}}/"><h2>{{post.body}}</h2></a>
  Posted by <a href="/profile/{{post.author.id}}/">{{post.author}}</a>
  <br /><br />
  
  <h4>{{post.title}}</h4>
  {{post.post}}<br /><br />Posted on: {{post.creation_time}}
  <br />
  <br />
  <img
    src="{{post.planet_img.url}}"
    alt="{{post.author}}"
    width="300px"
    height="300px"
  />
  <br />
  <a href="/up_vote/{{post.id}}/">Upvote</a>
  <span>Total Votes: {{ post.total_votes }}</span>
  <a href="/down_vote/{{post.id}}/">Downvote</a>
  {% if post.author == user %}
  <br><a href="/post_edit/{{post.id}}/">Edit</a>
  <a href="/post_delete/{{post.id}}/">Delete</a>
  {% endif %}
<br><br>
    <a href="add_comment/">add comment</a>
    <h3>Comments</h3>
    <br />
    {% for comment in comments %}
    <div>
      Comment by <a href='/profile/{{comment.author.id}}/'>{{comment.author}}:</a><br />
      <strong>{{comment.comment}}</strong><br />
      Posted on {{comment.creation_time}}
    </div><br>
    <a href="/comment_up_vote/{{comment.id}}/">Upvote</a></button>
    <span>Total Votes: {{ comment.total_votes }}</span>
    <a href="/comment_down_vote/{{comment.id}}/">Downvote</a></button>
    &nbsp&nbsp&nbsp
    {% if comment.author == user %}
    <a href="/comment_edit/{{comment.id}}/">Edit</a></button>
    &nbsp
    <a href="/comment_delete/{{comment.id}}/">Delete</a></button>
    {% endif %}
    <hr>
    {% endfor %}

</div>
{% endblock %}
