<h1>Post Details</h1>
<a href='/planet/{{post.body.id}}/'><h2>{{post.body}}</h2></a>
Posted by: <br />{{post.author}}<br /><br />
Title:<br />
{{post.title}} {{post.post}}<br /><br />Posted on: {{post.creation_time}}
<br />
<br />
<img
  src="{{post.planet_img.url}}"
  alt="{{post.author}}"
  width="300px"
  height="300px"
/>
<br />
<li><a href="/up_vote/{{post.id}}/">Upvote</a></li>
<li><a href="/down_vote/{{post.id}}/">Downvote</a></li>
<li>Total Votes: {{ post.total_votes }}</li>
<ul>
  <a href="add_comment/">add comment</a>
  <h3>Comments</h3>
  <br />
  {% for comment in comments %}
  <li>
    Comment by: {{comment.author}}<br />
    {{comment.comment}}<br />
    Posted on: {{comment.creation_time}}
  </li>
  <li><a href="/comment_up_vote/{{comment.id}}/">Upvote</a></li>
  <li><a href="/comment_down_vote/{{comment.id}}/">Downvote</a></li>
  <li>Total Votes: {{ comment.total_votes }}</li>
  {% endfor %}
</ul>
<a href="/">Home Page</a>
